* {
    font-family: Hedvig_Letters_Serif;
  
    background-color: #FCFBF4;
}

@font-face {
    font-family: Hedvig_Letters_Serif;
    src: url(HedvigLettersSerif-Regular-VariableFont_opsz.ttf);
}
a {

    color: rgb(44, 41, 41);
}
.topbar {

   text-align: center;
}

#searchbttn1 {
    float: left;
    padding-top: 5vh;
    height: 6vh;
   
}
#search1 {
    height: 3vh;
}
#cart1 {
    height: 3vh;
}

#cartbttn1 {
    float: right;
    padding-top: 5vh;
    margin-right: 3vh;
}

#logoplaceholder {
    height: 10vh;
    
  margin-left: auto;
  margin-right: auto;
  
}

.shopbar {
    text-align: center;
  
}

.categories1 {

    margin-right: 6vh;
}


.infotext{
    text-align: center;
    float: left;
margin-left: 30%;

}

.aboutustext {
    text-align: center;
    float: right;
    margin-right: 30%;
}

.infotext2 {
    text-align: center;
   font-size: small;
}

.aboutustext2 {
    text-align: center;
    font-size: small;
}

#filterslist {
width: max-content;
    margin-left: 20vh;
  padding-right: 2vh;
    border-right: 2px solid rgb(44, 41, 41);
    
    text-align: center;
    float: left;
   
}

#submithoody {

    text-align: center;
    color: #FCFBF4;
    background-color: rgb(44, 41, 41);
    
}

.pricerange {
    border-radius:0.5em;
    
}

.imagehood{
   max-width: 15vh;
   margin-left: 10vh;
 
}

.listhoody {
  display: inline-block;

  
  
}

.buttoncarthoody {
    float: right;
    text-align: center;
    color: #FCFBF4;
    background-color: rgb(44, 41, 41);
}